.navigationContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.navigationButton {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.answered {
  background-color: #00a650;
  color: white;
}

.unanswered {
  background-color: #f5f5f5;
  color: #333;
}

.selected {
  border: 2px solid #007bff;
}
